body {
  margin: 0;
  padding: 20px;
  color: white;
  background: black;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.thumbnailsrecent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.oldest {
  color: white;
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 400px;
}
.popular {
  color: white;
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 400px;
}
.recent {
  color: white;
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 400px;
}
.button {
  display: flex;
  flex-wrap: wrap;
}
.back-button {
  color: white;
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 69px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.image-details {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
}
#detail_tumbnail1 h2 {
  font-size: 37px;
}

#detail_thumbnail1 {
  display: none;
}
#detail_thumbnail2 {
  display: none;
}
