body {
  margin: 0;
  padding: 20px;
  color: white;
  background: black;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.thumbnailsrecent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.oldest {
  color: white;
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 400px;
}
.popular {
  color: white;
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 400px;
}
.recent {
  color: white;
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 400px;
}
.button {
  display: flex;
  flex-wrap: wrap;
}
.back-button {
  color: white;
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 69px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.image-details {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}
#detail_tumbnail1 h2 {
  font-size: 37px;
}

img {
  max-width: 100%;
  max-height: 100%; /* Set max-height to 100% to ensure both iframe and img have the same size */
  height: auto;
  display: block;
  margin: 10px auto;
}

h2,
p {
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}

p {
  padding-left: 30px;
  padding-right: 30px;
}
